@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.nunito-sans-<uniquifier > {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
/* Ripple Effect */
.ripple {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  pointer-events: none;
  background: radial-gradient(circle, #8bb8ff, transparent 100%);
  mix-blend-mode: screen;
  animation: rippleEffect 0.6s ease-out forwards;
}

body,
html {
  overflow: visible;
  position: relative;
}

/* Adjust z-index for ripple */
.ripple {
  z-index: 9999; /* Ensure it appears above other elements */
  position: fixed; /* Use fixed position for consistent placement */
}

@keyframes rippleEffect {
  0% {
    transform: scale(0.5);
    opacity: 0.6;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #191a1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #26282c;
  transition: 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3c3c;
}

/*-------------------- CSS --------------------*/
.center-div-cercles {
  display: flex;
  background: #e0e0e0;
  justify-content: center;
  align-items: center;
}
:root {
  --normal: inset 0px 0px 0px #bbb, inset 0px 0px 0px #fff, 0px 0px 0px #bbb,
    0px 0px 0px #fff;

  --down: inset 10px 10px 30px #bbb, inset -10px -10px 30px #fff,
    0px 0px 0px #bbb, 0px 0px 0px #fff;

  --up: inset 0px 0px 0px #bbb, inset 0px 0px 0px #fff, 10px 10px 10px #bbb,
    -10px -10px 30px #fff;
}

.cercle {
  position: absolute;
  aspect-ratio: 1/1;

  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: var(--up);

  animation: anime infinite 12s ease-in-out;
}

.cercle_one {
  z-index: 5;
  animation-delay: 0.8s;
  width: 100px;
}

.cercle_two {
  z-index: 4;
  animation-delay: 0.6s;
  width: 200px;
}

.cercle_three {
  z-index: 3;
  animation-delay: 0.4s;
  width: 300px;
}

.cercle_four {
  z-index: 2;
  animation-delay: 0.2s;
  width: 400px;
}

.cercle_five {
  z-index: 1;
  animation-delay: 0s;
  width: 500px;
}

@keyframes anime {
  0% {
    box-shadow: var(--normal);
  }
  20% {
    box-shadow: var(--up);
  }
  40%,
  50% {
    box-shadow: var(--normal);
  }
  70% {
    box-shadow: var(--down);
  }
  95%,
  100% {
    box-shadow: var(--normal);
  }
}

:root {
  --header-height: 3.5rem;

  --black-color: #121316;
  --black-color-light: hsla(0, 0%, 100%, 0.03);
  --black-color-lighten: hsla(0, 0%, 100%, 0.03);
  --white-color: hwb(0 100% 0% / 0.953);
  --body-color: #161618;
  --body-font: "Nunito Sans", sans-serif;
  --normal-font-size: 0.938rem;

  --font-regular: 400;

  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

html {
  font-family: "Nunito Sans", sans-serif !important;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif !important;
  font-size: var(--normal-font-size);
  background-color: black;
  /* background-color: var(--body-color); */
  background-repeat: no-repeat;
  background-size: contain;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin-inline: 1.5rem;
}

#Work,
#Testimonials,
#Contact {
  padding-top: 20px;
}

.work {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: red !important !important; */
}

.header {
  width: 100%;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
  margin-top: 15px !important;
}
.nav {
  height: var(--header-height);
}

.nav__logo,
.nav__burger,
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  z-index: 99;
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}
.nav__logo img {
  object-fit: cover; /* Scales image to fill while maintaining aspect ratio, may crop */
  /* object-fit: contain; Scales image to fit within bounds, may add letterbox */
  width: 65px;
  height: 65px;
  border-radius: 50px;
  margin-right: 5px;
  border: 2px solid white;
}
.my_name {
  line-height: 21px;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.my_title {
  color: whitesmoke;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    margin-top: 15px;
    text-align: left !important;
    direction: rtl;
    background-color: var(--black-color);
  }
}

.nav__link {
  color: var(--white-color);
  font-weight: 500;
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease;
  position: relative;
}
.upwork_icon {
  color: white;
  font-weight: 600 !important;
  width: 140px;
  height: 45px;
  border-radius: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  position: relative;
  transform: translateY(45%);
  margin: 0px !important;
  font-size: 16px !important;
  background-color: #191b1d;
}
.upwork_icon::before {
  height: 0px;
}
.upwork_icon i {
  margin-right: 10px;
}

.nav__link:hover {
}
.nav__link::before {
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50px;
  transition: 0.3s ease;
}
.nav__link:hover:before {
  content: "";
  width: 100%;
  height: 2px;
}

#no-affect-header-link:hover:before {
  width: 0px;
  height: 0px;
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform 0.4s;
}

.dropdown__link,
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  /* background-color: violet !important; */
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color 0.3s;
}

.dropdown__link i,
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover,
.dropdown__sublink:hover {
  color: red;
  background-color: var(--black-color);
}

.dropdown__menu,
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu,
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height 0.4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 700px) {
  .nav__link:hover:before {
    content: "";
    width: 0%;
    height: 0%;
  }
  .nav__link:before {
    content: "";
    width: 0%;
    height: 0%;
  }
  .nav__list li:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .upwork_icon {
    color: black;
    font-weight: 600 !important;
    height: 45px;
    width: 90%;
    border-radius: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    position: relative;
    transform: translateY(45%);
    margin: 0px !important;
    font-size: 16px !important;
    background-color: #8bb8ff;
  }
  .upwork_icon::before {
    height: 0px;
  }
  .upwork_icon svg {
    margin: 0px 8px;
  }
}

.upwork_icon svg {
  margin: 0px 8px;
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }
}

.decoration_img {
  position: absolute;
  top: -10%;
  left: -17%;
  width: 500px;
}

.title .container {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  position: relative;
  text-align: center !important;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .title .container {
    flex-direction: column;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    position: relative;
    text-align: center !important;
    padding: 20px 0px;
    /* background-color: red; */
    width: 100%;
    margin: 0px !important;
  }

  .title .container .first-div {
    display: flex;
    justify-content: center !important;
    align-items: center !important ;
    padding: 0px;
    width: 100%;
  }

  .second-div {
    margin-top: 10px;
    display: flex;
    justify-content: center !important;
    align-items: center !important ;
    padding: 0px;
    width: 100%;
  }

  .title .container h1 {
    margin-left: -20px !important;
    font-size: 24px;
    color: white;
    position: relative;
    padding: 9px 0px;
    z-index: 1000 !important;
    letter-spacing: 1px;
    position: relative;
    padding-left: 30px;
  }

  .contact-button-two {
    width: 100%;
    margin-top: 10px;
  }
}

.title .container .first-div {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  position: relative;
  text-align: center !important;
}

.title .container h1 {
  font-size: 24px;
  color: white;
  width: fit-content !important ;
  position: relative;
  padding: 9px 0px;
  z-index: 1000 !important;
  letter-spacing: 1px;
  margin-right: 2px;
  position: relative;
  padding-left: 30px;
}

.title .container h1::before {
  content: "";
  position: absolute;
  top: -3%;
  left: 0px;
  width: 140%;
  height: 100%;
  padding-left: 10px;
  border: 2px solid #25262c;
  /* border-radius: 10px; */
  background-color: hsla(0, 0%, 100%, 0.03);
}
.dots {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2px;
}
.border-title {
  background-color: #707070;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  margin-left: 2px;
}
.border-title-big {
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  margin-left: 2px;
  margin-left: 5px;
}
.dots p {
  color: #949494;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 1px;
  margin-top: -2px;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .container .text-hero {
  width: 55%;
  height: 50%;
  position: relative;
}

.text-hero p {
  background-color: #b9b9b90b;
  width: fit-content;
  color: whitesmoke;
  font-weight: 600;
  font-size: 13px;
  border-radius: 0.4rem;
  padding: 9px 15px;
  letter-spacing: 1px;
}
.Hello-hero {
  color: #8bb8ff;
}

.MyName {
  position: relative;
}

.text-hero h1 {
  margin: 2px 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: clamp(3.4375rem, 3.25rem + 0.75vw, 4rem);
  position: relative;
  color: white !important;
  z-index: 100 !important;
}

.text-hero h3 {
  width: 80%;
  font-size: 20px;
  /* background-color: red; */
  margin-bottom: 25px !important;
  font-weight: 600;
}

.text-hero a {
}

.text-hero .My-Projects {
  color: black;
  background-color: #8bb8ff;
  padding: 13px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
}
/* .text-hero .My-Projects:hover svg {
  transform: rotate(0deg);
} */
.text-hero .My-Projects svg {
  margin-left: 5px;
  transition: 0.3s ease;
}

.text-hero .My-Projects:hover svg {
  transform: rotate(90deg);
}

.Download-CV {
  /* text-transform: uppercase; */
  background-size: 100%;
  padding: 15px 37px;
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  border: 2px solid white;
  color: white;
  border-radius: 50px;
}

.Download-CV svg {
  width: 23px;
  height: 23px;

  fill: white;
  margin-right: 10px;
  transition: 0.3s ease;
}

.hero-buttns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.availability {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: #191b1d;
  padding: 10px 13px;
  width: fit-content;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.my-work {
  margin-left: 10px;
  color: whitesmoke;
  transition: 0.3s ease;
}
.my-work:hover {
  color: white;
}

@media only screen and (max-width: 600px) {
  .hero .container {
    flex-direction: column-reverse;
  }
  .hero .container .text-hero {
    width: 100%;
    margin-top: 30px;
  }
  .text-hero h1 {
    font-size: 30px;
    margin: 10px 0px;
  }
  .text-hero #Mohamed-Atef-animation {
    font-size: 30px;
    margin: 10px 0px;
    position: absolute;
    top: -10px;
  }
  .text-hero h3 {
    width: 100%;
    margin-bottom: 20px !important;
  }
  .hero-buttns {
    flex-direction: column;
    width: 100% !important;
  }
  .hero-buttns a {
    width: 100% !important ;
  }
  .Download-CV {
    width: 100%;
  }
  .my-work {
    margin-top: 10px;
    color: white;
    background-color: hsla(0, 0%, 100%, 0.05);
    padding: 18px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 0px !important;
  }
  .squeb {
    width: 100%;
    overflow: hidden;
    height: 300px;
  }
  .Download-CV {
    margin-top: 15px;
    margin-left: 0px;
  }
}

.Years-Of-Experience {
  border: 2px solid #333333;
  font-size: 14px !important;
  color: #999999;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}
.Projects {
  border: 2px solid #333333;
  font-size: 14px !important;
  color: #999999;
  padding: 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}

/* Why me */

.why_me {
  position: relative;
}

.why_img {
  width: 100px !important;
  position: absolute;
  bottom: 0;
  left: 0;
}

.why_me .container {
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 50px 65px 65px;
  position: relative;
}

.why_me .container .right_why_me {
  width: 55%;
  height: 100%;
  position: relative;
}
.why_me .container .right_why_me .circle-why-me {
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.d-flex h4 {
  font-weight: 800;
  line-height: 1.25;
  font-size: 3.5rem;
  color: white;
}
.d-flex span {
  font-weight: 800;
  font-size: 3rem;
  color: white;
}
.text-why-me {
  margin-top: 5px;
  color: white;
  letter-spacing: 0.5px;
}

.why_me .container .right_why_me .one-c {
  height: 250px;
  width: 250px;
  border: 4px solid white;
}
.why_me .container .right_why_me .two-c {
  height: 230px;
  width: 230px;
  border: 4px solid #191b1d;
  position: absolute;
  top: 25%;
  left: 50%;
}
.why_me .container .right_why_me .three-c {
  height: 250px;
  width: 250px;
  background-color: #191b1d;
  position: absolute;
  top: 57%;
  left: 10%;
}
.why_me .container .right_why_me .three-c .d-flex h4 {
  color: white;
}
.why_me .container .right_why_me .three-c p {
  color: white;
}

.why_me .container .left_why_me {
  width: 46%;
  height: 100%;
}
.why_me .container .left_why_me .intro_left_why_me {
  color: white;
}
.why_me .container .left_why_me .intro_left_why_me h1 {
  font-size: 2.3rem;
  margin-bottom: 1.6rem !important;
  margin-top: 0;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  line-height: 1.25;
}
.why_me .container .left_why_me .intro_left_why_me p {
  color: #c4c5c7;
  line-height: 25px;
  /* background-color: red; */
  margin-bottom: 20px;
}

.move-hearts {
  fill: white;
  position: absolute;
  bottom: 10%;
  left: 40%;
}

@media only screen and (max-width: 600px) {
  .why_me .container {
    background-color: #191b1d;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-flow: column-reverse;
    padding: 35px 25px 35px 25px;
    position: relative;
    overflow: hidden;
    margin-top: 50px;
  }
  .why_me .container .right_why_me {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
  }
  .why_me .container .left_why_me {
    width: 100%;
    height: 100%;
  }
  .why_me .container .right_why_me .one-c {
    height: 200px;
    width: 200px;
    border: 1px solid rgb(158, 158, 158);
  }
  .why_me .container .right_why_me .two-c {
    height: 200px;
    width: 200px;
    background-color: #202124;
    position: relative;
    top: 0%;
    left: 0%;
    margin-top: 20px;
  }
  .why_me .container .right_why_me .three-c {
    height: 200px;
    width: 200px;
    background-color: #8bb8ff;
    position: relative;
    top: 0%;
    left: 0%;
    margin-top: 20px;
  }
  .move-hearts {
    display: none;
  }
  .why_me .container .left_why_me .intro_left_why_me h1 {
    font-size: 1.3rem;
  }
  .img_and_namecard_testimonials {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
  }
}

/* Why me Ends */

/* Work */

.work {
  width: 100%;
  border-radius: 0px;
  transition: 0.3s ease;
}

.two-by-two {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.image {
  margin-bottom: 16px;
  width: 49.5%;
  height: fit-content;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
}
.image:hover .border-rad {
  transition: all 0.3s ease;
  transition: 0.3s ease;
}

#no-margin {
  margin-bottom: 0px;
}
#no-margin2 {
  margin-bottom: 0px;
}

.image img {
  width: 220px;
  vertical-align: middle;
  transition: all 0.3s ease;
  border-radius: 5px;
  object-fit: contain !important;
  /* object-fit: cover; Scales image to fill while maintaining aspect ratio, may crop */
  transition: 0.3s ease;
}

.des-work {
  width: 100%;
  margin: 0px 0px 0px 10px;
  padding: 0px 10px;
  padding-right: 0px;
}
.des-work div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-title-work {
  display: flex;
  align-items: center !important;
}

.des-work h1 {
  color: whitesmoke;
  font-size: 15px;
}
.des-work p {
  color: rgb(200, 200, 200);
  font-size: 13px;
}

.text-for-work {
  margin-top: 10px;
}

.footer-work {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links-work {
  width: fit-content;
  display: flex !important  ;
  justify-content: center !important;
  align-items: center !important;
}

.footer-links-work a {
  width: 25px;
  height: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.go-live-box {
  width: 60px;
  height: 25px;
  position: absolute;
  top: -100%;
  right: 50%;
  border-radius: 50px;
  transform: translateX(50%);
  display: none;
  transition: 0.3s ease !important;
}
.flex-the-text-go-live-box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-and-box-footer-links-work a {
  font-weight: 600;
  font-size: 13px;
  color: black;
  padding: 13px 12px;
  border: 2px solid white;
  width: fit-content;
  margin-top: 10px;
  background-color: white;
}
.link-and-box-footer-links-work a svg {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.footer-work p {
  color: rgb(170, 170, 170);
}

.image.hide {
  display: none;
}
.image.show {
  animation: animate 0.4s ease;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 600px) {
  .work {
    width: 100%;
    background-color: #191b1d;
    border-radius: 15px;
    padding: 35px 20px;
    margin-bottom: 40px;
  }
  .work-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .delet-for-mobile {
    display: none;
  }

  .see-more-projects {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    margin-left: 60%;
    /* background-color: red; */
  }
  #no-margin2 {
    margin-bottom: 50px;
  }

  .see-more-projects a {
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .border-rad {
    border: 2px solid transparent;
    border-radius: 10px !important;
    padding: 0px 0px;
    border-radius: 10px !important;
    transition: all 0.3s ease;
  }

  .wrapper {
    margin: 30px auto;
  }
  .wrapper nav .items {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span {
    margin: 5px;
  }
  .image {
    width: 100%;
    height: fit-content;
    flex-direction: column !important;
    border-radius: 0px;
  }
  .image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
    border-radius: 0px;
  }
  .des-work {
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 0px 0px;
    padding-right: 0px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .image {
    width: calc(100% / 2 - 20px);
  }
  .image img {
    width: 100%;
    height: 200px;
    vertical-align: middle;
    transition: all 0.3s ease;
    border-radius: 10px;
  }
  #no-margin2 {
    margin-bottom: 50px;
  }
}

/* End work */

/* Skills */

.All-skills-section {
  margin-top: 40px;
  position: relative;
  padding: 0px;
  /* background-color: red; */
}

.skills {
  padding-top: 0px;
  position: relative;
}

.skills .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}
.skills .container .card-skills {
  margin-bottom: 12px;
  /* background: #191b1d; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  width: 16%;
  min-height: 100px;
  transition: 0.3s ease;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 3px solid #191b1d;
}

.skills .container .card-skills div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#no-margin-right {
  margin-right: 0px;
}
.no-margin-right {
  margin-right: 0px;
}
.skills .container .card-skills p {
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.skills .container .card-skills h2 {
  color: white;
  font-size: 25px;
  font-weight: 600;
}

.skills .container .card-skills svg {
  width: 25px !important;
  height: 25px !important;
  color: white !important;
  margin-right: 10px;
}

@media only screen and (max-width: 768px) {
  .skills .container .card-skills {
    padding: 15px;
    width: 48%;
  }
  .All-skills-section {
    width: 100% !important;
    /* background-color: blue; */
    padding: 30px 25px;
  }
  .skills {
    /* background-color: red; */
    width: 100% !important;
  }
  .skills .container {
    margin-left: 0px;
    width: 100% !important;
    /* background-color: salmon; */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .skills .container .card-skills {
    margin-bottom: 20px;
    background: hsla(0, 0%, 100%, 0.03);
    border-radius: 0px;
    padding: 15px;
    width: 20%;
    min-height: 100px;
    margin-right: 0px;
  }
}

.Golden-card {
  background-color: #8bb8ff !important;
  background-size: 100%;
}

.Golden-card:hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191a1d;
  padding: 50px;
  width: 70%;
  height: fit-content;
  border-radius: 5px;
  z-index: 10000000000 !important;
}

#popupContent {
  text-align: center;
}

.header-pop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-pop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}
.logo-pop div {
  margin-left: 12px;
}

.logo-pop h2 {
  font-size: 27px;
  color: white;
}

.logo-pop p {
  margin-top: 5px;
  color: #d5d5d5;
}

#popupContent img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid gold;
}

.left-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.left-header a {
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #151618;
  color: white;
  font-weight: 600;
}
.left-header a i {
  margin-right: 10px;
  font-size: 17px;
}

.book {
  width: 100%;
  text-align: left;
  margin-top: 20px;
  background-color: #151618;
  padding: 33px 30px;
  border-radius: 10px;
  transition: 0.3s ease;
}
.book:hover {
  background-color: #151618;
}

.book p {
  line-height: 20px;
  font-style: italic;
  color: #cfcfcf;
}

#closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191a1d;
    padding: 50px 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: 10000000000 !important;
  }

  #popupContent img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 2px solid gold;
  }

  #popupContent {
    text-align: center;
  }

  .header-pop {
    height: fit-content;
    flex-direction: column;
  }

  .left-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .left-header a {
    display: none;
  }
}

/* Skills End */

/* Contact */

.contact {
  margin-bottom: 50px;
  margin-top: 20px;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 350px;
  background-color: #8bb8ff;
  padding: 30px;
  background-color: #191b1d !important;
  border-radius: 10px;
}

.contact .container .contact_text h1 {
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 1.5 !important;
  color: white;
  position: relative;
  z-index: 99;
  transition: 0.3s ease;
}

.contact-button {
  color: white;
  padding: 12px 30px;
  color: black;
  border: 2px solid white;
  background-color: white;
  border-radius: 50px;
  margin-top: 22px;
  font-weight: 600;
}
.contact-button i {
  margin-left: 10px;
}

.contact .container p {
  color: white;
  width: 40%;
  line-height: 25px;
  font-weight: 500;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .contact .container {
    margin-bottom: 100px;
  }

  .contact .container .contact_text h1 {
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.5 !important;
    position: relative;
    z-index: 99;
    transition: 0.3s ease;
  }
  .contact .container p {
    width: 100%;
  }
}

/* end */

.end {
  padding: 40px 0px 30px 0px;
}

.end .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_name_end h3 {
  color: white;
}
.rights_end h4 {
  color: rgb(143, 143, 143);
}

/* end ends */

/* Looading */

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #161618;
  z-index: 999999999999999999999999999 !important;
}

.container-for-loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
}

.loading_text {
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999999999999999 !important;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-wrapper h1 {
  color: white;
  font-size: 20px;
}
.loader-wrapper p {
  margin-top: 5px;
  color: rgb(195, 195, 195);
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 240px;
  height: 240px;
  margin: -120px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e39c29;
  border-bottom-color: #e39c29;
  box-shadow: 1px 2px 2px #e39c29;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e39c29;
  border-bottom-color: #e39c29;
  box-shadow: 1px 2px 2px #e39c29;
  animation: spin-reverse 0.6s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e39c29;
  border-bottom-color: #e39c29;
  box-shadow: 1px 2px 2px #e39c29;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #161618;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}

/* Looading Ends */

.btn.cta.bg {
  color: #161618;
  cursor: pointer;
  display: inline-block;
  padding: 0.8em 1em;
  margin: auto 1em auto 0em;
  position: relative;
  align-self: center;
  border: 3px solid white;
  z-index: 1;
  box-shadow: -0.5em 0.5em rgba(16, 24, 50, 0);
  transform-origin: left bottom;
  /* text-transform: uppercase; */
  transition: all 200ms ease-in-out;
  /* background: none; */
  background: white;
  transform: translate(0.5em, 0em);
}

.btn.cta.bg:before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  border: 3px solid #161618;
  background: white;
  left: -0.75em;
  top: 0.15em;
  width: 0.31em;
  height: 100%;
  transform: skewY(-45deg);
}

.btn.cta.bg:after {
  content: "";
  display: block;
  background: white;
  position: absolute;
  z-index: -1;
  border: 3px solid #161618;
  bottom: -0.75em;
  right: 0.15em;
  width: 100%;
  height: 0.31em;
  transform: skewX(-45deg);
}

/* .btn.cta.bg:hover {
  background: none;
  transform: translate(0.5em, -0.5em);
  box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
  border: 3px solid #8bb8ff;
  color: #8bb8ff;
}

.btn.cta.bg:hover:before {
  background: #8bb8ff;
  height: 100%;
}

.btn.cta.bg:hover:after {
  background: #8bb8ff;
  width: 100%;
} */

/* test */

/* ted */

.navigation {
  display: none !important;
  z-index: 99999999999;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 278px;
  width: 60px;
  background: #191b1d;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 70px;
  z-index: 1;
  transition: 0.3s ease !important;
}

.navigation ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  color: #333;
  font-weight: 500;
}

.navigation ul li:hover {
  background-color: #8bb8ff;
}

.navigation ul li:hover .icon {
  color: #212427 !important;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  color: white;
}
.navigation ul li.active a .icon {
  color: white;
}

.navigation ul li a .icon i {
  font-size: 20px;
}

.navigation ul .indicator {
  position: absolute;
  left: 0;
  width: 67px;
  height: 70px;
  transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
  transform: translateY(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateY(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateY(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateY(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateY(calc(70px * 4));
}

.delete-for-Desktop {
  display: none;
}

@media only screen and (max-width: 600px) {
  .delete-for-Desktop {
    display: inline;
  }
  .navigation {
    z-index: 99999999999;
    top: 100%;
    height: 130px;
    width: 100%;
  }
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6%;
  }
}

.contact-button-two {
  margin-right: 5px;
  box-shadow: 0.3em 0.3em 0 0 white, inset 0.3em 0.3em 0 0 white;
}

.contact-button-two:hover,
.contact-button-two:focus {
  box-shadow: 0 0 0 0 white, inset 6em 3.5em 0 0 white;
}

.contact-button-two {
  --color: white;
  --hover: #bc198e;
}

/* === Shared Button Styles === */

.contact-button-two {
  color: var(--color);
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  padding: 0.7em 2em;
}

.contact-button-two:hover,
.contact-button-two:focus {
  border-color: white;
  color: black;
}
